/services_API/venv/
services_API/logger/__pycache__/
services_API/models/__pycache__/
services_API/routes/__pycache__/
services_API/schemas/__pycache__/
services_API/services/__pycache__/

bills_API/venv/
bills_API/logger/__pycache__/
bills_API/models/__pycache__/
bills_API/routes/__pycache__/
bills_API/schemas/__pycache__/
bills_API/services/__pycache__/
bills_API/bills_api.log

users_API/venv/
users_API/logger/__pycache__/
users_API/models/__pycache__/
users_API/routes/__pycache__/
users_API/schemas/__pycache__/
users_API/services/__pycache__/
users_API/users_api.log

front/.next/
front/.DS_Store/

eduardossh
eduardossh.pub

front/node_modules/
front/.next